In [35]:
import pandas as pd

CA = pd.read_csv("trendingYT/CAvideos.csv.zst", encoding="latin1")
CA["country"] = "CA"

DE = pd.read_csv("trendingYT/DEvideos.csv.zst", encoding="latin1")
DE["country"] = "DE"

FR = pd.read_csv("trendingYT/FRvideos.csv.zst", encoding="latin1")
FR["country"] = "FR"

GB = pd.read_csv("trendingYT/GBvideos.csv.zst", encoding="latin1")
GB["country"] = "GB"

IN = pd.read_csv("trendingYT/INvideos.csv.zst", encoding="latin1")
IN["country"] = "IN"

JP = pd.read_csv("trendingYT/JPvideos.csv.zst", encoding="latin1")
JP["country"] = "JP"

KR = pd.read_csv("trendingYT/KRvideos.csv.zst", encoding="latin1")
KR["country"] = "KR"

MX = pd.read_csv("trendingYT/MXvideos.csv.zst", encoding="latin1")
MX["country"] = "MX"

RU = pd.read_csv("trendingYT/RUvideos.csv.zst", encoding="latin1")
RU["country"] = "RU"

US = pd.read_csv("trendingYT/USvideos.csv.zst", encoding="latin1")
US["country"] = "US"

In [44]:
# question 
df_all = pd.concat(
    [CA, DE, FR, GB, IN, JP, KR, MX, RU, US],
    ignore_index=True
)
df_all.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© ...,CA
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...,CA
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,CA
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...,CA

In [45]:
# question 2
no_tag_videos = df_all[df_all["tags"] == "[none]"]
no_tag_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
41,JwboxqDylgg,17.14.11,Canada Soccer's Women's National Team v USA In...,Canada Soccer,17,2017-11-13T05:53:49.000Z,[none],36311,277,28,13,https://i.ytimg.com/vi/JwboxqDylgg/default.jpg,False,False,False,Canada Soccer's Women's National Team face riv...,CA
58,9B-q8h31Bpk,17.14.11,John Oliver Tackles Louis C.K. And Donald Trum...,TV Shows,22,2017-11-13T04:49:26.000Z,[none],106029,1270,101,181,https://i.ytimg.com/vi/9B-q8h31Bpk/default.jpg,False,False,False,"John Oliver on News, Politics ...",CA
78,1UE5Dq1rvUA,17.14.11,Taylor Swift Perform Ready For It - SNL,Ken Reactz,24,2017-11-12T05:18:02.000Z,[none],320964,8069,285,717,https://i.ytimg.com/vi/1UE5Dq1rvUA/default.jpg,False,False,False,Thanks for watching please subscribe and subsc...,CA
86,pmJQ4KwliX4,17.14.11,"LATEST Q POSTS: ROTHSCHILDS, HOUSE OF SAUD, lL...",James Munder,2,2017-11-12T21:25:40.000Z,[none],116820,1503,139,1066,https://i.ytimg.com/vi/pmJQ4KwliX4/default.jpg,False,False,False,https://pastebin.ca/3930472\n\nSupport My Chan...,CA
98,lHcXhBojpeQ,17.14.11,ä¸å±TVBè¦å¸ï¼ææ£10å¹´éæ¢ ç«¹é¦¬é«®å¦...,ææç¾æç,22,2017-11-12T12:49:50.000Z,[none],88061,47,58,17,https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg,False,False,False,NaN,CA

In [46]:
# question 3
channel_views = (
    df_all
    .groupby("channel_title", as_index=False)["views"]
    .sum()
)
channel_views.sort_values(by="views", ascending=False).head(10)

              channel_title        views
4564    ChildishGambinoVEVO  11016766510
15536  Marvel Entertainment  10430605449
17726            NickyJamTV   9479859505
18466                 Ozuna   8623329509
28412               ibighit   8205572221
6689              DrakeVEVO   7637228580
2788              Bad Bunny   7124207494
2101       ArianaGrandeVevo   6202230488
28621      jypentertainment   5802822913
7047             Ed Sheeran   5775405574

In [54]:
# question 4
excluded = df_all[
    (df_all["comments_disabled"] == True) |
    (df_all["ratings_disabled"] == True) |
    (df_all["video_error_or_removed"] == True)
]
df_all = df_all[
    (df_all["comments_disabled"] == False) &
    (df_all["ratings_disabled"] == False) &
    (df_all["video_error_or_removed"] == False)
]
print(excluded.shape)
print(df_all.shape)
# excluded

(13657, 17)
(362285, 17)

In [55]:
df_all[["comments_disabled", "ratings_disabled", "video_error_or_removed"]].dtypes

comments_disabled         bool
ratings_disabled          bool
video_error_or_removed    bool
dtype: object

In [56]:
df_all["comments_disabled"].unique()

array([False])

In [57]:
df_all["ratings_disabled"].unique()

array([False])

In [58]:
df_all["video_error_or_removed"].unique()

array([False])

In [59]:
excluded = df_all[
    (df_all["comments_disabled"] == "True") |
    (df_all["ratings_disabled"] == "True") |
    (df_all["video_error_or_removed"] == "True")
]

In [60]:
excluded

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description, country]
Index: []

In [62]:
# question 5
df_all["like_ratio"] = df_all["likes"] / df_all["dislikes"].replace(0, pd.NA)
df_all[["likes", "dislikes", "like_ratio"]].head()

     likes  dislikes like_ratio
0   787425     43420  18.135076
1   127794      1688  75.707346
2   146035      5339    27.3525
3   132239      1989  66.485168
4  1634130     21082  77.513044

In [65]:
# question 6
df_all["publish_time"] = pd.to_datetime(df_all["publish_time"])
df_all["publish_interval"] = df_all["publish_time"].dt.floor("10min")
df_all[["publish_time", "publish_interval"]].head()

               publish_time          publish_interval
0 2017-11-10 17:00:03+00:00 2017-11-10 17:00:00+00:00
1 2017-11-13 17:00:00+00:00 2017-11-13 17:00:00+00:00
2 2017-11-12 19:05:24+00:00 2017-11-12 19:00:00+00:00
3 2017-11-12 18:01:41+00:00 2017-11-12 18:00:00+00:00
4 2017-11-09 11:04:14+00:00 2017-11-09 11:00:00+00:00

In [68]:
# question 7
interval_stats = (
    df_all
    .groupby("publish_interval")
    .agg(
        video_count=("video_id", "count"),
        avg_likes=("likes", "mean"),
        avg_dislikes=("dislikes", "mean")
    )
    .reset_index()
)
interval_stats.sort_values("video_count", ascending=False).head(10)

               publish_interval  video_count      avg_likes  avg_dislikes
16226 2018-03-02 05:00:00+00:00          299  387412.846154  14168.571906
6437  2017-12-22 05:00:00+00:00          215  151799.818605   7418.488372
20901 2018-04-04 16:00:00+00:00          200  107900.060000   4649.640000
13174 2018-02-08 14:00:00+00:00          198  210740.333333  11246.484848
22576 2018-04-20 04:00:00+00:00          198  950468.757576  36147.166667
19127 2018-03-23 04:00:00+00:00          193  285309.544041   9018.740933
10325 2018-01-19 05:00:00+00:00          187  192095.679144  12868.379679
14170 2018-02-15 17:00:00+00:00          160   23370.631250   1182.756250
27501 2018-05-25 04:00:00+00:00          157  135612.127389  14947.178344
20120 2018-03-30 04:00:00+00:00          156  158389.256410   5646.666667

In [75]:
# question 8
tag_counts = (
    df_all.assign(tag_list=df_all["tags"].str.split("|"))  # split tags
          .explode("tag_list")                             # one tag per row
          .assign(tag_list=lambda x: x["tag_list"].str.strip().str.strip('"').str.strip("'"))  # clean
          .query("tag_list != '' and tag_list.str.lower() != '[none]'")  # remove empty/[none]
          .groupby("tag_list", as_index=False)["video_id"].count()       # count videos
          .rename(columns={"video_id": "video_count"})
          .sort_values("video_count", ascending=False)
)

tag_counts.head(10)

          tag_list  video_count
348085       funny        14940
289076      comedy        12289
11163         2018        10920
457172        news         6001
449239       music         5862
574930       video         5558
10815         2017         5521
375908       humor         5013
549132  television         4109
503769      review         4046

In [76]:
# question 9
top_tags = tag_counts.head(10)
top_tags

          tag_list  video_count
348085       funny        14940
289076      comedy        12289
11163         2018        10920
457172        news         6001
449239       music         5862
574930       video         5558
10815         2017         5521
375908       humor         5013
549132  television         4109
503769      review         4046

In [79]:
# question 10
# Step 1: Explode and clean tags (once)
df_tags_exploded = (
    df_all.assign(tag_list=df_all["tags"].str.split("|"))  # split tags
          .explode("tag_list")                             # one tag per row
          .assign(tag_list=lambda x: x["tag_list"].str.strip().str.strip('"').str.strip("'"))  # clean
          .query("tag_list != '' and tag_list.str.lower() != '[none]'")  # remove empty/[none]
)

# Step 2: Compute average like_ratio per (tag, country)
tag_country_ratio = (
    df_tags_exploded.groupby(["tag_list", "country"], as_index=False)["like_ratio"]
                     .mean()
                     .rename(columns={"like_ratio": "avg_like_ratio"})
)

tag_country_ratio.head(10)

                            tag_list country avg_like_ratio
0   DAME TU COSITA ' DANCE CHALLENGE      FR      22.938149
1          ! Banii i-au luat mintile      DE       6.222739
2                                 !!      FR      12.452875
3                                 !!      MX      38.081559
4                    !! *me bloquea*      MX       65.26087
5                                !!!      MX      12.952381
6                               !!!!      FR            5.0
7                            !t Live      KR     912.398601
8                  # carlosvideostar      MX          60.16
9                    # ssc scam 2018      IN      35.552176

In [82]:
# question 11
# Ensure trending_date is datetime
df_all["trending_date"] = pd.to_datetime(df_all["trending_date"], format="%y.%d.%m")  # YouTube format: YY.DD.MM

# Find video with max views per (trending_date, country)
top_videos_daily = (
    df_all.loc[df_all.groupby(["trending_date", "country"])["views"].idxmax()]
    .reset_index(drop=True)
)

top_videos_daily.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio,publish_interval,tags_split
0,2Vv-BfVoq4g,2017-11-14,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09 11:04:14+00:00,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...,CA,77.513044,2017-11-09 11:00:00+00:00,"[edsheeran, ""ed sheeran"", ""acoustic"", ""live"", ..."
1,2Vv-BfVoq4g,2017-11-14,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09 11:04:14+00:00,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634127,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...,DE,77.512902,2017-11-09 11:00:00+00:00,"[edsheeran, ""ed sheeran"", ""acoustic"", ""live"", ..."
2,2Vv-BfVoq4g,2017-11-14,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09 11:04:14+00:00,"edsheeran""|""ed sheeran""|""acoustic""|""live""|""cov...",33523622,1634134,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...,FR,77.513234,2017-11-09 11:00:00+00:00,"[edsheeran"", ""ed sheeran"", ""acoustic"", ""live"",..."
3,2Vv-BfVoq4g,2017-11-14,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09 11:04:14+00:00,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634124,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...,GB,77.51276,2017-11-09 11:00:00+00:00,"[edsheeran, ""ed sheeran"", ""acoustic"", ""live"", ..."
4,ePO5M5DE01I,2017-11-14,Tiger Zinda Hai | Official Trailer | Salman Kh...,YRF,1,2017-11-07 06:01:50+00:00,"Tiger Zinda Hai Trailer|""Tiger Zinda Hai Offic...",35885754,829362,61195,101117,https://i.ytimg.com/vi/ePO5M5DE01I/default.jpg,False,False,False,Stay updated! ð Subscribe Now: https://goo....,IN,13.552774,2017-11-07 06:00:00+00:00,"[Tiger Zinda Hai Trailer, ""Tiger Zinda Hai Off..."

In [83]:
# question 12
df_all["year"] = df_all["trending_date"].dt.year
df_all["month"] = df_all["trending_date"].dt.month
df_all["day"] = df_all["trending_date"].dt.day

df_all[["trending_date", "year", "month", "day"]].head()

  trending_date  year  month  day
0    2017-11-14  2017     11   14
1    2017-11-14  2017     11   14
2    2017-11-14  2017     11   14
3    2017-11-14  2017     11   14
4    2017-11-14  2017     11   14

In [84]:
# question 13
# Find video with max views per (month, country)
top_videos_monthly = (
    df_all.loc[df_all.groupby(["month", "country"])["views"].idxmax()]
    .reset_index(drop=True)
)

top_videos_monthly.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,ratings_disabled,video_error_or_removed,description,country,like_ratio,publish_interval,tags_split,year,month,day
0,LsoLEjrDogU,2018-01-09,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",43067983,1717177,61567,...,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,CA,27.891192,2018-01-04 04:40:00+00:00,"[Bruno Mars, ""Finesse"", ""Cardi B"", ""Finesse Re...",2018,1,9
1,LsoLEjrDogU,2018-01-08,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",37728802,1629946,56305,...,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,DE,28.948513,2018-01-04 04:40:00+00:00,"[Bruno Mars, ""Finesse"", ""Cardi B"", ""Finesse Re...",2018,1,8
2,LsoLEjrDogU,2018-01-08,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars""|""Finesse""|""Cardi B""|""Finesse Remix...",37728802,1629948,56305,...,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,FR,28.948548,2018-01-04 04:40:00+00:00,"[Bruno Mars"", ""Finesse"", ""Cardi B"", ""Finesse R...",2018,1,8
3,LsoLEjrDogU,2018-01-18,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",90598955,2248693,93089,...,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,GB,24.156377,2018-01-04 04:40:00+00:00,"[Bruno Mars, ""Finesse"", ""Cardi B"", ""Finesse Re...",2018,1,18
4,dfnCAmr569k,2018-01-18,"Taylor Swift - End Game ft. Ed Sheeran, Future",TaylorSwiftVEVO,10,2018-01-12 05:00:01+00:00,"Taylor|""Swift""|""End""|""Game""|""Big""|""Machine""|""Pop""",42019590,1804377,100033,...,False,False,Music video by Taylor Swift performing End Gam...,IN,18.037818,2018-01-12 05:00:00+00:00,"[Taylor, ""Swift"", ""End"", ""Game"", ""Big"", ""Machi...",2018,1,18

In [92]:
# question 14
import json
import glob
import os
import pandas as pd

# Read all category JSON files into a single DataFrame
category_files = glob.glob(r"trendingYT\*_category_id.json")  # all files
category_list = []

for file in category_files:
    country = os.path.basename(file).split("_")[0].upper()  # extract country code
    with open(file, encoding="utf-8") as f:
        data = json.load(f)
    
    df = pd.DataFrame([{
        "category_id": int(item["id"]),
        "category_title": item["snippet"]["title"],
        "country": country
    } for item in data.get("items", [])])
    
    category_list.append(df)

# Combine all countries into one DataFrame
categories_df = pd.concat(category_list, ignore_index=True)

# Inspect
categories_df.head()

   category_id    category_title country
0            1  Film & Animation      CA
1            2  Autos & Vehicles      CA
2           10             Music      CA
3           15    Pets & Animals      CA
4           17            Sports      CA

In [94]:
# Merge and fill missing categories
df_all_cat = df_all.merge(categories_df, on=["country", "category_id"], how="left")
df_all_cat["category_title"] = df_all_cat["category_title"].fillna("Not assignable")

# Count Not assignable videos per country
not_assignable_counts = (
    df_all_cat[df_all_cat["category_title"] == "Not assignable"]
    .groupby("country")["video_id"]
    .count()
    .to_dict()
)

not_assignable_counts

{'CA': 69,
 'DE': 228,
 'FR': 85,
 'GB': 90,
 'IN': 41,
 'JP': 18,
 'KR': 280,
 'MX': 149,
 'RU': 1301}